        * {
            padding: 0;
            margin: 0;
            font-family: Arial;
        }
/*********************************************
Global CSS reset
*****************************************/
tml, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
/***************************************************
End of global CSS reset
************************************************/
html,body {
    height:100%;
}
        .main-container {
            display: grid;
            grid-template-columns: 8fr 2fr;
        }
        
        .board-panel {
            display: grid;
            grid-template-rows: 8fr 1fr;
            /* width: 400px; */
            /* width:60%; */
            /* border: 5px solid red; */
            margin-left: 2%;
        }

        #myBoard {
            width: 50%; 
            /* border:dotted green 2px; */
        }

        .header {
            text-align: center;
            padding: 3px;
            font-size: 4em;
            border:3px solid lightgrey;
            margin:auto;
            /* margin-top, margin-bottom:10px; */
            width:fit-content;
        }

        /* .right-panel {
            display:grid;
           grid-template-rows: 3fr 1fr;
            height: 100%;
            max-height: 80%;
            /*background: lightgrey;*/
        } */


        .right-panel .inner {
            display: grid;
            grid-template-rows: 4fr 4fr;
        }

        .panel {
            border: solid  gray 5px;
            margin: 2px;
            border-radius: 5px;
            background: lightgrey;
        }

        .panel.status {
            font-size: xx-large;
            text-align: center;
            background: darkblue;
            line-height: 1em;
            margin: auto;
            margin-top: 2px;
            width: 50%;
            color: white;
        }

        .panel.chat {
            color: white;
            background: gray;
            border: 4px solid green;
            height: 40%;
            min-height:40%;
            max-height: 40%; */
        }

        .no-bullets {
            list-style-type: none;
        }

        #pgn-list {
            height: 70%;
            min-height:70%;
            max-height: 70%;
            overflow: auto;
            text-indent: 10px;
        }

        #pgn-list>li {
            font-size: 2em;
            font-family: monospace;
            list-style-type: none;
        }

        #pgn-list>li.tinygreen {
            color: darkgreen;
            font-size: 1.5em;
        }

        #promotion-dialog {
            display: none;
        }

        .ui-dialog {
            padding: 0 !important;
            width: 300px !important;
            border: 0 !important;
        }

        .ui-dialog-content {
            padding: 0 !important;
            width: 300px !important;
            border: 0 !important;
        }

        .ui-corner-all {
            border-radius: 3;
        }

        .ui-state-default,
        .ui-widget-content .ui-state-default,
        .ui-widget-header .ui-state-default {
            border: 0 !important;
        }

        #promote-to .ui-selecting {
            background: darkcyan;
        }

        #promote-to .ui-selected {
            background: cyan;
            color: white;
        }

        #promote-to {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 450px;
            height: 112px;
        }

        #promote-to li {
            margin: 0;
            padding: 0;
            width: 112px;
            height: 112px;
            background: darkgrey;
            cursor: pointer;
            float: left !important;
        }

        .ui-dialog .ui-dialog-content {
            padding: 0;
        }

        .no-close .ui-dialog-titlebar-close {
            display: none;
        }

        .noTitleStuff .ui-dialog-titlebar {
            display: none;
        }

        .promotion-piece {
            width: 112px;
            height: 112px;
        }

        .piece-name {
            display: none;
        }